body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(180deg, rgb(46, 61, 148) 0%, rgba(10, 10, 10, 0.903) 100%);
    color: #fff;
}

button {
    height: 50px;
    padding: 0 2.2rem;
    border-radius: 2rem;
    color: #ddd;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    background: #1122ff;
    transition: 0.3s;
    opacity: 0.7;
    cursor: pointer;
    outline: none;
}

button:hover {
    opacity: 1;
}
